.outer {
  background-image: url('../../../public/img/bluecomputerscreen.gif');
  background-repeat: repeat;
}
.hello {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
}

.control {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);

}

.list {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);


}

#code {
  width: 480px;
  margin-left: 20px;
  margin-top: 20px;

}

.loop {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);

}


