.outer {
  background-image: url('../../../public/img/bluecomputerscreen.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hello {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
}

.control {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);

}

.list {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);


}

#code {
  width: 480px;
  margin-left: 20px;
  margin-top: 20px;

}

.loop {
  color: white;
  overflow-wrap: break-word;
  font-size: medium;
  margin-left: 60px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);

}


